sudo: false
language: python
python:
    - "3.3"
    - "3.4"
    - "3.5"
    - "3.6"

install:
    - pip install tox-travis
    - pip install coverage
    - pip install codacy-coverage
script:
    - tox
    - coverage xml
    - python-codacy-coverage -r coverage.xml